.sticky {
	display: flex;
	flex-flow: column nowrap;
	min-height: 80vh;
}

.hidden-visually {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	width: 1px;
	height: 1px;
	white-space: nowrap;
}
