.info-details {
	flex: 2;

	&.contact {
		margin-inline: var(--primary-spacing);

		@media screen and (max-width: 800px) {
			margin-block: 0 var(--quinary-spacing);
		}
	}

	& p {
		color: var(--quaternary-color);
	}
}

.info-details-heading {
	margin-block: var(--quinary-spacing);
	color: var(--tertiary-color);
	font-size: var(--secondary-font-size);
}
