#header {
	box-shadow: var(--primary-shadow);
	padding-block: var(--primary-spacing);
	background-color: var(--primary-color);

	& a {
		display: block;
		width: fit-content;
		margin-inline: auto;

		&:hover,
		&:focus {
			transform: scale(var(--primary-scaling));
			transition: transform var(--primary-time);
		}
	}
}
