#footer {
	box-shadow: var(--primary-shadow);
	padding-block: var(--primary-spacing);
	background-color: var(--primary-color);
	text-align: center;

	& a {
		color: var(--quinary-color);
		font-size: var(--primary-font-size);
		line-height: var(--primary-line-height);

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
