/* basic reset */
* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* html,
body {
	overflow: hidden;
} */

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

.sticky {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.hidden-visually {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

/* styles related to the scrollbars */
* {
	scrollbar-width: thin;
	scrollbar-color: rgb(193, 195, 195) rgb(255, 255, 255);
}

*::-webkit-scrollbar {
	width: 0.5rem;
}

*::-webkit-scrollbar-track {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px inset,
		rgb(255, 255, 255) 0px -36px 30px 50px inset,
		rgba(236, 236, 236, 0.75) 0px -79px 40px 0px inset;
}

*::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: rgb(193, 195, 195);
	width: 10px;
}

/* Variables */
:root {
	--primary-color: rgb(255, 255, 255);
	--secondary-color: rgb(248, 248, 250);
	--tertiary-color: rgb(47, 46, 67);
	--quaternary-color: rgb(106, 105, 121);
	--quinary-color: rgb(180, 29, 118);

	--primary-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;

	/* --primary-spacing: 1rem; */
	--primary-spacing: 1%;
	/* --secondary-spacing: 2rem; */
	--secondary-spacing: 2%;
}

.App {
	background-color: var(--secondary-color);
}
